.site-footer {
  padding         : 1.6rem 0;
  color           : $color-off-text;
  background-image: linear-gradient(to bottom right,rgba(#090909,.7),rgba(#0d0d0d,.8));
  border-top      : 1px solid #141414;
  font-size       : 1rem;

  a {
    font-family: 'Architects Daughter', cursive;
  }
}