main {
  overflow  : hidden !important;
  overflow-y: auto !important;
}

main::before {
  opacity: 0.25 !important;
}

body {
  background-color: #000;
  overflow-x      : hidden;
}

.site-content {
  min-height: calc(100vh - 163px);
  @media screen and (min-width:769px) {
    min-height: calc(100vh - 123px);
  }
}

.page,
.single {
  .entry-content {
    padding         : 1.6rem;
    margin-bottom   : 2.4em;
    box-shadow      : $shadow-1;
    background-image: linear-gradient(to bottom right, #090909, #0d0d0d);
  }
}

.archive,
.blog,
.home,
.page,
.post,
.single {
  main {
    &::before {
      content        : '';
      position       : fixed;
      top            : 0;
      left           : 0;
      height         : 100%;
      width          : 100%;
      background     : url("inc/img/background-1.jpg");
      background-size: cover;
      opacity        : 0.2;
      z-index        : -2;
      filter : saturate(0);
    }
  }
}