nav.navbar {
  z-index   : 100;
  width     : 100%;
  text-align: center;
  padding   : 0.4rem !important;

  .navbar-container {
    width: 100%;
  }

  .nav-link {
    margin: 0 0.8rem;

    span {
      color    : $color-menu-item;
      font-size: 0.8rem;
    }
  }

  .navbar-nav {
    margin         : auto;
    justify-content: center;

    a {
      position: relative;
      padding : 0.4rem 0.8rem !important;

      &::after,
      &::before {
        content   : '';
        position  : absolute;
        bottom    : 0;
        width     : 0;
        height    : 0;
        left      : 50%;
        transition: $transition;
      }

      &:focus,
      &:hover {
        outline: none;

        span {
          color: #fff;
        }

        &::after,
        &::before {
          height: 2px;
          width : 3rem;
          left  : calc(50% - 1.5rem);
        }
      }
    }

    .menu-item-icon {
      content   : '';
      display   : block;
      width     : 32px;
      height    : 32px;
      margin    : 0 auto 0.2rem;
      transition: $transition;
    }

    li {
      & a:focus,
      & a:hover {
        outline: none;

        span {
          color: #fff;
        }

        &::after,
        &::before {
          height          : 2px;
          width           : 3rem;
          left            : calc(50% - 1.5rem);
          background-color: $color-light-primary;
        }

        .menu-item-icon {
          fill: $color-light-primary;
        }
      }
    }

    li:first-of-type {
      .menu-item-icon {
        fill: $color-primary;
      }

      & a:focus,
      & a:hover {
        &::after,
        &::before {
          background-color: $color-light-primary;
        }

        .menu-item-icon {
          fill: $color-light-primary;
        }
      }
    }

    li:nth-of-type(2) {
      .menu-item-icon {
        fill: $color-secondary;
      }

      & a:focus,
      & a:hover {
        &::after,
        &::before {
          background-color: $color-light-secondary;
        }

        .menu-item-icon {
          fill: $color-light-secondary;
        }
      }
    }

    li:nth-of-type(3) {
      .menu-item-icon {
        fill: $color-thirds;
      }

      & a:focus,
      & a:hover {
        &::after,
        &::before {
          background-color: $color-light-thirds;
        }

        .menu-item-icon {
          fill: $color-light-thirds;
        }
      }
    }

    li:nth-of-type(4) {
      .menu-item-icon {
        fill: $color-fourths;
      }

      & a:focus,
      & a:hover {
        &::after,
        &::before {
          background-color: $color-light-fourths;
        }

        .menu-item-icon {
          fill: $color-light-fourths;
        }
      }
    }

    li:nth-of-type(5) {
      .menu-item-icon {
        fill: $color-fifths;
      }

      & a:focus,
      & a:hover {
        &::after,
        &::before {
          background-color: $color-light-fifths;
        }

        .menu-item-icon {
          fill: $color-light-fifths;
        }
      }
    }
  }
}

.title-container {
  z-index         : 1;
  background-color: rgba(0,0,0, 0.4);
  border-radius   : 1rem;

  h1.bryhub-site-title {
    padding                : 0.4rem;
    margin                 : 0;
    text-align             : center;
    font-weight            : 400;
    font-size              : 5rem;
    color                  : $color-font;
    line-height            : 5.2rem;
    background             : -webkit-linear-gradient(right, #ffe4b1, #fbfffc, #d7dbd8, #fffdf7, #d4d4d4); //Derived from $color-font
    -webkit-background-clip: text;
    background-clip        : text;
    -webkit-text-fill-color: transparent;
    text-shadow            : -1px -1px 1px $color-font, 2px 2px 1px #333;
  }

  .bryhub-tagline {
    position      : relative;
    text-align    : center;
    padding       : 0.8rem 1.6rem;
    margin        : 0.4rem 2.4rem;
    color         : $color-menu-item;
    font-size     : 1rem;
    letter-spacing: 0.02rem;

    &:after,
    &:before {
      content         : '';
      top             : 0;
      position        : absolute;
      width           : 1px;
      height          : 60%;
      transform       : translateY(30%);
      opacity         : 0.8;
      background-image: linear-gradient($color-primary, $color-fifths);
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  nav.navbar-general {
    padding         : 0.2rem !important;
    background-image: linear-gradient(to bottom right, #141414, #0d0d0d);
    border-bottom   : 1px solid #222;

    .navbar-container {
      width: 100%;

      .navbar-nav {
        flex-direction: row;

        li.menu-item {
          padding: 0.2rem 0 0;
          margin : 0 0.4rem;

          a {
            padding: 0.4rem 0 !important;
            margin : 0 0.6rem;

            .menu-item-icon {
              width        : 16px;
              height       : 16px;
              margin-right : 0.4rem;
              margin-bottom: 0.4rem;
            }

            &::after,
            &::before {
              bottom: 0.4rem;
              height: 1px;
            }

            &:focus,
            &:hover {
              &::after,
              &::before {
                left : 0;
                width: 100%;
              }

              &:after {
                right: 0;
              }
            }
          }

          &.active a {
            span {
              color: #fff;
            }

            svg {
              fill: $color-active;
            }
          }
        }

        .menu-item-icon {
          display: inline-block;
        }

        li.active a::after,
        li.active a::before {
          height          : 1px;
          width           : 100%;
          left            : 0;
          background-color: $color-active;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  main {
    padding   : 0.4rem !important;
    height    : calc(100vh - 84px) !important;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .title-container .bryhub-tagline {
    font-size: 1rem;
  }

  nav.navbar {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    padding         : 0.4rem !important;
    background-image: linear-gradient(to bottom right, #181818, #141414);
    border-top      : 1px solid #333;

    .navbar-container {
      width: 100%;

      .navbar-nav {
        display        : flex;
        flex-direction : row;
        flex-shrink    : 1;
        justify-content: space-evenly;

        li.menu-item {
          width  : 25%;
          padding: 0;

          a {
            margin : 0;
            padding: 0.4rem !important;

            span {
              font-size: 0.8rem;
            }

            .menu-item-icon {
              width     : 100%;
              max-height: 2rem;
            }
          }
        }

        li.active a::after,
        li.active a::before {
          height          : 2px;
          width           : 3rem;
          left            : calc(50% - 1.5rem);
          background-color: $color-active;
        }
      }
    }
  }

  h1.bryhub-site-title {
    font-size: 4rem !important;
  }
}