.page {
	margin-bottom : 0;
	@media screen and (max-width : 768px) {
		margin-bottom : 86px;
	}

	.entry-title {
		margin  : 2.4rem;
		padding : 0.8rem;
	}

	.entry-content {
		padding : 2.4rem;
	}

	article {
		color : $color-off-text;
	}
}