.sprites-container {
    position: absolute;
    z-index:100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.sprites {
    position: absolute;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    animation-duration: $animation-length;
    animation-timing-function: linear;
    z-index: 5;
    filter: none;
}

.sprites svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.sprite-rocket {
    height: 120px;
    width: 68px;
    top: 30%;
    left: -20%;
    transform: rotate(110deg);
    animation-name: rocket-path;
    animation-timing-function: linear;
}

.sprite-enemy {
    position: relative;
    height: 120px;
    width: 88px;
    top: 10%;
    left: -20%;
    transform: rotatey(180deg);
    animation-name: enemy-path;
    animation-timing-function: linear;

    &::after {
        content:'';
        position: absolute;
    }
}

@keyframes rocket-path {
    0% {
        top: 30%;
        left: -75%;
    }

    2% {
        top: 30%;
        left:20%;
        transform: rotate(95deg);
    }

    3% {
        transform: rotate(110deg);
    }

    4% {
        top: 55%;
        left: 45%;
        transform: rotate(50deg);
    }

    5% {
        top: 25%;
        left: 58%;
        transform: rotate(100deg);
    }

    6% {
        top: 35%;
        left: 195%;
        transform: rotate(80deg);
    }

    7% {
        left: 115%;
        transform: rotate(-100deg);
    }

    8% {
        top: 55%;
        left: -115%;
        transform: rotate(-100deg);
    }

    9% {
        top: 10%;
        left: -15%;
        transform: rotate(100deg);
    }

    10% {
        left: 145%;
        top: 35%;
        transform: rotate(100deg);
    }

    11% {
        transform: rotate(-100deg);
    }

    12% {
        transform: rotate(-100deg);
    }

    13% {
        top: 10%;
        left: 80%;
        transform: rotate(0deg);
    }

    14% {
        top: 15%;
        left: 82%;
    }

    15% {
        top: 13%;
        left: 82%;
    }

    16% {
        top: 10%;
        left: 81%;
    }

    17% {
        top: 12%;
        left: 82%;
        transform: rotate(0deg);
    }
}

@keyframes enemy-path {
    0% {left: -20%;}
    3% {top: 15%;}
    4% {top: 10%;}
    5% {top: 15%;}
    6% {
        left: 10%;
        transform:rotatey(180deg);
    }
    9% {
        top: 10%;
        transform:rotatey(180deg);
    }
    10% {transform:rotatey(-180deg)}
    11% {
        top: 15%;
        transform:rotatey(180deg);
        filter: hue-rotate(0deg)
    }
    12% {
        filter: hue-rotate(270deg);
    }
    13% {
        transform: rotate(180deg) scale(2.5);
    }
    100% {left: 10%;}
}

