//
//Structure
//
$bryhub_retro_grid_width: 0.25rem; //
//
//Animation variables
//
$animation-length       : 120s;
$animation-fire-length  : 60s;
$animation-boom-length  : 30s; //
//
//Color Pallette
//
$color-primary          : #008B78;
$color-secondary        : #007ec2;
$color-thirds           : #5a70c2;
$color-fourths          : #945caf;
$color-fifths           : #007bac;
$color-active           : #ffa17a; //
//
//Color Pallette Light
//
$color-light-amount     : 25%;
$color-light-primary    : lighten($color-primary, $color-light-amount);
$color-light-secondary  : lighten($color-secondary, $color-light-amount);
$color-light-thirds     : lighten($color-thirds, $color-light-amount);
$color-light-fourths    : lighten($color-fourths, $color-light-amount);
$color-light-fifths     : lighten($color-fifths, $color-light-amount); //Font colors
$color-font             : #f8fff8;
$color-menu-item        : #A1A1A1;
$color-link             : #9a5462;
$color-link-hover       : #d67d64; //Transitions
$transition             : all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); //
//
//Font Colors
//
$color-font             : #F8F7F1;
$color-off-text         : #9E9E9E;
$color-font-secondary   : #969696; //
//Material Designs
//
$shadow-1               : 0 1px 3px rgba($color-primary, 0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2               : 0 14px 28px rgba($color-secondary, 0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-3               : 0 3px 6px rgba($color-thirds, 0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-4               : 0 10px 20px rgba($color-fourths, 0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-5               : 0 0 8px 1px rgba($color-fifths, 0.85), 0 10px 10px rgba(0,0,0,0.22);
$shadow-6               : 0 19px 38px rgba($color-active, 0.30), 0 15px 12px rgba(0,0,0,0.22);