$primary: #fff8dc;
$secondary: #ff9100;
$background_gradient: linear-gradient(to bottom right, rgba(#161616, 0.82), rgba(#141414, 0.82), rgba(#000000, 0.6));
$bryhub_grid_width: 0.25rem;
$animation-length: 120s;
$animation-fire-length: 60s;