.article-grid {
	color                 : $color-dark-text;
	display               : grid;
	grid-template-columns : repeat(auto-fit, minmax(300px, 1fr));
	gap                   : 2rem;
	margin                : 0 0 2rem;
	padding-bottom        : 4rem;

	article {
		background-color : $color_light-text;
		border-radius    : 1rem;
		overflow         : hidden;

		a {
			.article-featured {
				height              : 250px;
				width               : 100%;
				background-size     : cover;
				background-position : bottom;
				filter: grayscale(0);
				transition: filter $transition;
			}

			&:hover,
			&:focus {
				.article-featured {
					filter: grayscale(0.5);
				}
			}

			&:active {
				.article-featured {
					filter: grayscale(0) contrast(1);
				}
			}

			&:visited {
				.article-featured {
					filter: grayscale(1);
				}
			}
		}
	}
}