.navbar .navbar-container {
	.menu {
		flex-direction : row;
		background: $color_background;

		.menu-item {
			a {
				font-size      : 2rem;
				font-family    : "Architects Daughter", sans-serif;
				color          : $color_off-text;
				flex-direction : row;
				align-items    : center;
				margin         : 1rem;

				span {
					margin: 0.5rem 0 0.5rem 0.5rem;
				}

				&:hover,
				&:focus {
					&::before,
					&::after {
						width: 100%;
						left: 0;
					}
				}
			}

			.menu-item-icon {
				height : 2rem;
				width  : 2rem;
			}
		}
	}
}