.skip-link {
	position        : absolute;
	display         : flex;
	justify-content : center;
	align-items     : center;
	top             : 0;
	left            : 0;
	width           : 100%;
	transform       : translateY(-100%);
	background      : $color_background;
	color           : $color_active;
	letter-spacing  : 2px;
	padding         : 8px;
	transition      : transform 0.3s;
	z-index         : 1;

	span {
		padding: 0.25rem;
	}

	&:focus {
		height    : 53px;
		transform : translateY(0%);
		animation : cubic-bezier(0.4, 0.5, 0.8, 1) 0.3s letter-space;

		span {
			outline: 1px dotted $color_active;
		}
	}
}

@keyframes letter-space {
	0% {
		letter-spacing : -2px
	}
	50% {
		letter-spacing: 4px;
	}
	100% {
		letter-spacing : 2px
	}
}