.title-container {
	position : relative;
	padding  : 0.5rem;

	.bryhub-site-title {
		font-size  : 10rem;
		font-weight: 400;
		text-align : center;
		color      : $color_light-text;
		padding    : 0;
		margin     : 0;
	}

	.bryhub-tagline {
		position: relative;
		font-size: 2.4rem;
		text-align : center;
		color      : $color_off-text;
		padding    : 2rem;
		margin     : 1rem 0;
	}
}

@media screen and (max-width: 800px) {
	.title-container {
		.bryhub-site-title {
			font-size  : 5rem;
		}

		.bryhub-tagline {
			position: relative;
			font-size: 1.6rem;
			text-align : center;
			color      : $color_off-text;
			padding    : 2rem;
			margin     : 1rem 0;
		}
	}
}