.title-container {
	position : relative;
	padding  : 0.5rem;

	.bryhub-site-title {
		font-size   : 10rem;
		font-weight : 400;
		text-align  : center;
		color       : $color_light-text;
		padding     : 0;
		margin      : 0;
	}

	.bryhub-tagline {
		position    : relative;
		font-size   : 2.4rem;
		line-height : 3rem;
		text-align  : center;
		color       : $color_off-text;
		padding     : 2rem;
		margin      : 1rem 0;
	}
}

@media screen and (max-width : 800px) {
	.title-container {
		padding-bottom : 78px; //Navigation height

		.bryhub-site-title {
			font-weight : 900;
			font-size   : 8rem;
		}

		.bryhub-tagline {
			padding       : 2rem;
			margin        : 2rem 1rem;
			background    : $color_background;
			border-radius : 2rem;
			position      : relative;
			font-size     : 2rem;
			line-height   : 2.4rem;
		}
	}
}