//Structure

$bryhub_retro_grid_width : 0.25rem;

//Animation variables

$animation_length        : 120s;
$animation_fire-length   : 60s;
$animation_boom-length   : 30s;

//Color Palette

$color_primary           : #008b78;
$color_secondary         : #007ec2;
$color_thirds            : #5a70c2;
$color_fourths           : #945caf;
$color_fifths            : #007bac;
$color_active            : #ffa17a;

//Color Palette Light

$color_lighten-amount    : 25%;
$color_font              : #f8fff8;
$color_menu-item         : #a1a1a1;
$color_link              : #9a5462;
$color_link-hover        : #d67d64; //Transitions
$color_light-primary     : lighten($color_primary, $color_lighten-amount);
$color_light-secondary   : lighten($color_secondary, $color_lighten-amount);
$color_light-thirds      : lighten($color_thirds, $color_lighten-amount);
$color_light-fourths     : lighten($color_fourths, $color_lighten-amount);
$color_light-fifths      : lighten($color_fifths, $color_lighten-amount); //Font colors
$color_background        : linear-gradient(to bottom right, #090909, #0d0d0d);

//Font Colors

$color_light-text        : #f8f7f1;
$color_light-secondary   : #c4c4c4;
$color_off-text          : #c1bebe;

//Material Designs

$shadow_1                : 0 1px 3px rgba(#333, 0.12), 0 1px 2px rgba(#333, 0.24);
$shadow_2                : 0 14px 28px rgba(#333, 0.25), 0 10px 10px rgba(#333, 0.22);
$shadow_3                : 0 3px 6px rgba($color_thirds, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow_4                : 0 10px 20px rgba($color_fourths, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow_5                : 0 0 8px 1px rgba($color_fifths, 0.85), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow_6                : 0 19px 38px rgba($color_active, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
$transition              : all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); //
